body{
	background-image: url("Images/bckg.png");
	font-family: verdana;
	}


.loginSection{
	border:1px solid #065fd4;
	color:#065fd4;
	font-weight: bold;
	font-family: sans-serif;
	display:inline-flex;
	height:2em;
	width:10em;
}

#genericUserIcon{
	max-width: 30%;
	max-height: 80%;
}

#theLogo{
	position:absolute;
	width:5em;
	height:5em;
	right:0px;
}
.tl{
  animation: shake 4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  
}

.title{
	text-align: center;
	}